# Secrets
DISCORD_TOKEN=your_discord_token

# Models
LLM_MODEL=qwen/qwen3.5-9b
EMBEDDING_MODEL=text-embedding-nomic-embed-text-v1.5

# Connection URLs
LLM_BASE_URL=wherever_your_openai_api_is
MCP_SERVER_ADDERSS=:8090
MCP_URL=http://localhost:8090/mcp